@charset "UTF-8";
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/* line 2, ../scss/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 2, ../scss/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2, ../scss/style.scss */
body {
  line-height: 1;
}

/* line 2, ../scss/style.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../scss/style.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../scss/style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 2, ../scss/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 変数定義 */
/* line 8, ../scss/style.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 13, ../scss/style.scss */
#menu {
  left: -50%;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: white;
}
/* line 20, ../scss/style.scss */
#menu .list-header {
  font-weight: bold;
  color: white;
  background-color: #303350;
  height: 40px;
  border-bottom: solid 5px #ff6140;
}
/* line 29, ../scss/style.scss */
#menu .list li {
  height: 36px;
  position: relative;
}
/* line 35, ../scss/style.scss */
#menu .list li:after {
  content: '';
  height: 2px;
  width: 96%;
  background-color: #adadad;
  position: absolute;
  bottom: 0;
  left: 2%;
}
/* line 44, ../scss/style.scss */
#menu .list li.active {
  color: white;
  background-color: #ff6140;
}

/* line 51, ../scss/style.scss */
#main {
  width: 100%;
  height: 100%;
}
/* line 54, ../scss/style.scss */
#main .header {
  background-color: #ff6140;
}
/* line 56, ../scss/style.scss */
#main .header .menuBtn {
  display: inline-block;
  color: white;
  font-size: 30px;
  padding: 5px 5px;
  float: left;
}
/* line 63, ../scss/style.scss */
#main .header .title {
  display: block;
  width: 100px;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin: 0 auto;
  padding-top: 8px;
}
/* line 72, ../scss/style.scss */
#main .header .editBtn {
  display: inline-block;
  color: white;
  font-size: 30px;
  padding: 5px 5px;
  float: right;
}
/* line 81, ../scss/style.scss */
#main .logo {
  margin: 0 auto;
  margin-top: 100px;
  width: 210px;
}
/* line 85, ../scss/style.scss */
#main .logo img {
  width: 200px;
}
/* line 90, ../scss/style.scss */
#main .store-list {
  padding: 10px 10px;
}
/* line 92, ../scss/style.scss */
#main .store-list .store-info {
  min-height: 80px;
  border-bottom: solid 2px #ff6140;
}
/* line 95, ../scss/style.scss */
#main .store-list .store-info .store-name {
  font-size: 30px;
  font-style: bold;
}
/* line 99, ../scss/style.scss */
#main .store-list .store-info .store-detail {
  height: 160px;
}
/* line 101, ../scss/style.scss */
#main .store-list .store-info .store-detail .store-img {
  height: 150px;
  float: left;
}
/* line 104, ../scss/style.scss */
#main .store-list .store-info .store-detail .store-img .gglImage {
  height: 100%;
}
/* line 108, ../scss/style.scss */
#main .store-list .store-info .store-detail .store-link {
  float: left;
}

/* line 115, ../scss/style.scss */
#edit {
  left: 100%;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #fffaf9;
}

/* line 124, ../scss/style.scss */
.hideSlide, .showSlide, .hideSlideRight, .hideSlideLeft {
  transition: all 0.4s ease;
}

/* line 128, ../scss/style.scss */
#main.hideSlideRight {
  position: fixed;
  left: 50%;
  top: 0;
}

/* line 134, ../scss/style.scss */
#main.hideSlideLeft {
  position: fixed;
  left: -50%;
  top: 0;
}

/* line 140, ../scss/style.scss */
#menu.showSlide {
  left: 0;
}

/* line 144, ../scss/style.scss */
#edit.showSlide {
  left: 50%;
}

/* line 148, ../scss/style.scss */
.header {
  height: 50px;
  width: 100%;
}

/* line 152, ../scss/style.scss */
.body {
  height: 85%;
  width: 100%;
  overflow: auto;
}

/* 表示・非表示時のアニメーションを定義 */
/* line 160, ../scss/style.scss */
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  /*下記の定義に注目(詳細は後述)*/
  display: block !important;
}

/* ng-hide適用(=非表示)の終点となるスタイル */
/* また、ng-hide-removeに移行する際の始点のスタイルでもある */
/* line 171, ../scss/style.scss */
.animate-show-hide.ng-hide-add.ng-hide-add-active,
.animate-show-hide.ng-hide-remove {
  opacity: 0;
}

/* ng-hide削除(=表示)して到達するスタイル */
/* また、ng-hide-addに移行する際の始点のスタイルでもある */
/* line 177, ../scss/style.scss */
.animate-show-hide.ng-hide-remove.ng-hide-remove-active,
.animate-show-hide.ng-hide-add {
  opacity: 1;
}
