/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* 変数定義 */
$headerHeight: 50px;
$bodyHeight: 85%;

html, body {
	height: 100%;
	width: 100%;
}

#menu {
	left: -50%;
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: white;
	.list-header {
		font-weight: bold;
		color: white;
		background-color: #303350;
		height: 40px;
		border-bottom: solid 5px #ff6140;
	}
	.list {
		//padding: 0px 10px;
		li {
			height: 36px;
			//border-bottom: solid 2px #adadad;
			position: relative;
		}
		// border-bottom
		li:after {
			content:'';
			height: 2px;
			width: 96%;
			background-color: #adadad;
			position: absolute;
			bottom: 0;
			left: 2%;
		}
		li.active {
			color: white;
			background-color: #ff6140;
		}
	}
}

#main {
	width: 100%;
	height: 100%;
	.header {
		background-color: #ff6140;
		.menuBtn {
			display: inline-block;
			color: white;
			font-size: 30px;
			padding: 5px 5px;
			float: left;
		}
		.title {
			display: block;
			width: 100px;
			color: white;
			font-family: 'Pacifico', cursive;
			font-size: 30px;
			margin: 0 auto;
			padding-top: 8px;
		}
		.editBtn {
			display: inline-block;
			color: white;
			font-size: 30px;
			padding: 5px 5px;
			float: right;
		}
	}

	.logo {
		margin: 0 auto;
		margin-top: 100px;
		width: 210px;
		img {
			width: 200px;
		}
	}
	
	.store-list {
		padding: 10px 10px;
		.store-info {
			min-height: 80px;
			border-bottom: solid 2px #ff6140;
			.store-name {
				font-size: 30px;
				font-style: bold;
			}
			.store-detail {
				height: 160px;
				.store-img {
					height: 150px;
					float: left;
					.gglImage {
						height: 100%;
					}
				}
				.store-link {
					float: left;
				}
			}
		}		
	}
}
#edit {
	left: 100%;
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: #fffaf9;
}

.hideSlide, .showSlide, .hideSlideRight, .hideSlideLeft {
	transition: all 0.4s ease;
}

#main.hideSlideRight {
	position: fixed;
	left: 50%;
	top:0;
}

#main.hideSlideLeft {
	position: fixed;
	left: -50%;
	top:0;
}

#menu.showSlide {
	left: 0;
}

#edit.showSlide {
	left: 50%;
}

.header {
	height: $headerHeight;
	width: 100%;
}
.body {
	height: $bodyHeight;
	width: 100%;
	overflow: auto;
}

/* 表示・非表示時のアニメーションを定義 */
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  /*下記の定義に注目(詳細は後述)*/
  display:block!important;
}
/* ng-hide適用(=非表示)の終点となるスタイル */
/* また、ng-hide-removeに移行する際の始点のスタイルでもある */
.animate-show-hide.ng-hide-add.ng-hide-add-active,
.animate-show-hide.ng-hide-remove {
  opacity:0;
}
/* ng-hide削除(=表示)して到達するスタイル */
/* また、ng-hide-addに移行する際の始点のスタイルでもある */
.animate-show-hide.ng-hide-remove.ng-hide-remove-active,
.animate-show-hide.ng-hide-add {
  opacity:1;
}
