<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="Cache-Control" content="must-revalidate">
	<meta http-equiv="Cache-Language" content="ja,en">
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />	
	<link rel="stylesheet" href="css/style.css" type="text/css" />	
	<!-- web-font -->
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<title>Want</title>
</head>
<body>
	<div ng-controller="menuCtrl" id="menu" ng-class="{hideSlide:!menu, showSlide:menu}" ng-cloak>
		<div class="header">
		</div>
		<div class="body">
			<div class="" ng-repeat="folder in folders">
				<div class="list-header" ng-click="toggleFolder($index)">{{folder.name}}</div>
				<ul class="list animate-show-hide" ng-show="isOpenedFolder($index, currentFolder.select)">
					<li ng-repeat="elem in folder.list" ng-click="searchStores(elem, $event)">
						<div>{{elem}}</div>
					</li>
				</ul>
			</div>
			<div>
				<div class="list-header add">
					<span class="glyphicon glyphicon-plus"></span>
				</div>
			</div>
		</div>
	</div>
	<div ng-controller="mainCtrl" id="main" ng-class="{hideSlideRight:menu, hideSlideLeft:edit, showSlide:main}" ng-cloak>
		<div class="header">
			<div class="menuBtn" ng-click="toggleMenu()">
				<span class="glyphicon glyphicon-list"></span>
			</div>
			<div class="editBtn" ng-click="toggleEdit()">
				<span class="glyphicon glyphicon-edit"></span>
			</div>
			<div class="title">Want</div>
		</div>
		<div class="body">
			<div class="logo" ng-show="!$root.stores.length">
				<img src="image/bero.png" alt="">
			</div>
			<ul class="store-list">
				<li class="store-info" ng-repeat="store in $root.stores" ng-click="toggleStoreDetail($index, store.name)">
					<div class="store-tag">
						<span ng-repeat="tag in store.tags">{{tag}}&nbsp</span>
					</div>
					<div class="store-name">{{store.name}}</div>
					<div ng-if="isClicked(currentStore.select, $index)" class="store-detail">
						<div class="store-img">
							<img class="gglImage" alt="">
						</div>
						<div class="store-link">
							<a class="gglLink" ng-click="link(store)">google search</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div ng-controller="editCtrl" id="edit" ng-class="{hideSlide:!edit, showSlide:edit}" ng-cloak>
		<div class="header">
		</div>
		<div class="body">
			<div class="form">
				<div class="form-item">
					<div><input type="text" ng-model="store.name" placeholder="お店の名前"></div>
				</div>
				<div class="form-item">
					<div><input type="text" ng-model="store.place" placeholder="場所"></div>
				</div>
				<div class="form-item">
					<div><input type="text" ng-model="store.dish" placeholder="料理"></div>
				</div>
				<div class="form-item">
					<div><button class="btn btn-default" ng-disabled="!isFilledText(store)" ng-click="addStore()"><span class="glyphicon glyphicon-plus"></span></button></div>
				</div>
			</div>
		</div>
	</div>

	<script src="//192.168.5.28:35729/livereload.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/script.js"></script>
	<!--
	<script type="text/javascript" src="http://www.google.com/jsapi?key=xx"></script>
	-->

	<!--
	<script src="js/angular-touch.min.js"></script>
	<script src="js/angular-carousel.js"></script>
	-->
<script>
</script>
</body>
</html>
